---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Raleway:400,300i,700|Source+Code+Pro:400,700|Source+Sans+Pro:400,400i,700,700i';


// Our variables
$base-font-family: "Source Sans Pro", sans-serif;
$font-size-base:   18px;
$base-font-weight: 400;
$base-bold-font-weight: 700;
$font-size-small:  0.8rem;
$font-size-large: $font-size-base * 1.125;
$base-line-height: 1.6;

$title-font-family: 'Raleway', sans-serif;
$title-font-weight: 400;
$title-bold-font-weight: 700;

$code-font-family: 'Source Code Pro', monospace;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;

$dark-blue: rgb(1, 65, 105);
$mid-blue: rgb(40, 116, 174);
$light-blue: rgb(70, 166, 195);
$light-green: rgb(179, 212, 125);



$background-color-dark: #343434;
$brand-color:      #ad4848;
$brand-color-dark: darken($brand-color, 10%);
$white-color: #ffffff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "header",
        "footer",
        "bigfoot-default"
        ;
