<header class="site-header">

  <div class="nav">
    <a href="{{ site.baseurl }}/" id="site-title">Sam V. Beckmann</a>

    <ul>
      <li>
        <a class="header-link" href="{{ site.baseurl }}/about">About</a>
      </li>
      <li>
        <a class="header-link" href="{{ site.baseurl }}/projects">Projects</a>
      </li>
      <li>
        <a class="header-link" href="https://github.com/samvbeckmann">Code</a>
      </li>
      <li>
        <a class="header-link" href="{{ site.baseurl }}/resume">Resume</a>
      </li>
    </ul>
  </div>


</header>
