/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit 0;
}

.icon-footer {
    >svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        padding-right: 20px;

        path {
            fill: $grey-color;
        }
    }

}

#footer-content {
  margin: auto;
  max-width: calc(800px - (30px * 2));
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  .copywrite {
    color: $grey-color;
    font-size: 0.8rem;
  }

  .icon-links {
    margin: 0;
    list-style: none;
    position: relative;

    .icon-link-item {
      display: inline-block;
      margin-right: 5px;
      a {
        color: $grey-color;

        &:hover {
          color: $light-blue;
          @include transition(all .2s ease);
        }
      }
    }
  }
}
