/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit 0;
}

.icon-footer {
    >svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        padding-right: 20px;

        path {
            fill: $grey-color;
        }
    }

}

#footer-content {
  @extend %content-width;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 2;

  .copywrite {
    color: $grey-color;
    font-size: $font-size-small;
  }

  .icon-links {
    margin: 0;
    list-style: none;
    position: relative;

    .icon-link-item {
      display: inline-block;
      margin-right: 5px;
      a {
        color: $grey-color;

        &:hover {
          color: $light-blue;
          @include transition(all .2s ease);
        }
      }
    }
  }
}
