/**
 * Main site pages
 */
.site-tagline {
	font-weight: $title-font-weight;
	text-align: center;
}

.headshot {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}