/**
 * Landing page CSS
 */

.site-tagline {
	text-align: center;
	color: $brand-color-dark;
}

.location {
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

.headshot {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
