/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 42px;
    text-align: center;
    color: $text-color;
    font-weight: 700;
}

.post-list {
    margin-left: 0;
    text-align: center;
    list-style: none;


    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-family: $title-font-family;
    font-style: italic;
    font-size: $font-size-large;
    color: $grey-color;
}

.title-link {
    margin-top: $spacing-unit;
    margin-bottom: 0;
    display: block;
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }

    @include media-query($on-palm) {
      font-size: 24px;
    }
}

.post-excerpt {
    margin-top: $spacing-unit / 2;
    text-align: left;
}

.read-more-link {
  font-style: italic;
  font-weight: bold;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
    // font-size: 42px;
    // font-weight: $base-font-weight;
    color: $light-blue;
    line-height: 1;
    //
    // @include media-query($on-laptop) {
    //     font-size: 36px;
    // }
}

.post-content {

    .footnotes {
      margin-top: $spacing-unit;
      border-top: 1px $grey-color-light solid;
      font-size: 14px;

      ol {
        margin-top: $spacing-unit / 2;
      }
    }

    .boxed {
      @extend %extended;
      background-color: lighten($light-blue, 40%);
      color: $text-color;
      border-radius: 2px;
    }
}

.rss-subscribe {
  font-style: italic;
}

.headshot {
  border-radius: 5%;
  float: left;
  margin: 20px;
}

/**
 * Wrapper
 */
.wrapper {
  @extend %content-width;
}
