/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 42px;
    text-align: center;
    color: $text-color;
    font-weight: 700;
}

.post-list {
    margin-left: 0;
    text-align: center;
    list-style: none;


    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-family: $title-font-family;
    font-style: italic;
    font-size: $font-size-large;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 32px;
}

.title-link {
    margin-top: $spacing-unit;
    margin-bottom: 0;
}

.post-excerpt {
    margin-top: $spacing-unit / 2;
    text-align: left;
}

.read-more-link {
  font-style: italic;
  font-weight: bold;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
    font-size: 42px;
    font-weight: $base-font-weight;
    color: $light-blue;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
      font-size: 38px;

      @include media-query($on-laptop) {
          font-size: 32px;
      }
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      font-size: 18px;
      font-weight: bold;
      font-family: $base-font-family;
    }

    .footnotes {
      // margin-top: $spacing-unit;
      border-top: 1px $grey-color-light solid;
      font-size: 14px;

      ol {
        margin-top: $spacing-unit / 2;
      }
    }

    .boxed {
        margin: 5px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px $light-blue solid;
        background-color: lighten($light-blue, 40%);
        border-radius: 5px;
        color: darken($brand-color-dark, 50%);
    }
}

.rss-subscribe {
  font-style: italic;
}

.headshot {
  border-radius: 5%;
  float: left;
  margin: 20px;
}
